---
import Layout from "./layout.astro";
import FileView from "@custom/FileView.astro";
---

<Layout title="PYQs">
    <section class="prose lg:prose-xl center min-w-screen gap-9 p-5  text-white">
        <FileView src="/material/1.pdf" type="pdf" title="PYQ 1" loading="eager" />
        <FileView src="/material/2.pdf" type="pdf" title="PYQ 2" />
    </section>
</Layout>
