---
import Layout from "./layout.astro";
import FileView from "@custom/FileView.astro";
---

<Layout title="Syllabus">
    <section id="0" class="center prose lg:prose-xl max-w-screen">
        <FileView src="/material/syllabus.pdf" type="pdf" title="Syllabus" loading="eager" />
    </section>
</Layout>
